---
layout: "page"

generator: "taxonomy"
max_page: 5
taxonomy_attribute: "tags"
permalink: "/:name"
---
<h2><i class="fa fa-tag"></i> {{page.term}}</h2>
{% for post in page.pagination.items %}
<div class="post-preview">
    <a href="{{ site.url }}{{ post.url }}">
        <h3 class="post-title">
            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <h4 class="post-subtitle">
            {{ post.subtitle }}
        </h4>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date('F jS Y, \\a\\t g:ia') }}</p>
</div>
<hr>
{% endfor %}

{% include "paginator.html" %}
